:root {
  --bg: #f5f5ff;
  --primary: #4f46e5;
  --primary-hover: #4338ca;
  --text: #1f2937;
  --border: #d1d5db;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.05);
  --avatar-bg: #fce7f3;
  --avatar-text: #6b21a8;
  --card-bg: #ffffff;
}

.ma {
  margin-left: 0px;
  min-height: 100vh;
  display: flex;
  background-color: var(--bg);
}

main {
  width: 100%;

  padding: 1.5rem;
}

.profile-area {
  position: relative;
  background-color: var(--card-bg);
  height: 40vh;
  width: 80vw;
  border-radius: 12px;
  box-shadow: var(--shadow);
  text-align: center;
  margin-bottom: 4rem;
  z-index: 1;
<<<<<<< HEAD
  background-image: url("../uibodybackground.jpg");
=======
  /* background-image: url(./images/profile.jpg); */
>>>>>>> 9242534dafb6f4ee00c32e1bf7903c07876d7d4c
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--avatar-bg);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 3px solid var(--primary);
  transition: transform 0.2s ease;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.avatar:hover {
  transform: scale(1.05);
}

.avatar span {
  font-size: 4rem;
  color: var(--avatar-text);
}

.profile-details {
  background-color: var(--card-bg);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  text-align: left;
  width: 80vw;
  padding-left: 10%;
  overflow-x: scroll;
   position: absolute;
 
}

.profile-details p {
  font-size: 1.1rem;
  color: var(--text);
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
}

.profile-details p strong {
  font-weight: 600;
  min-width: 150px;
  color: var(--primary);
}

.masked-text {
  color: #6b7280;
  font-family: monospace;
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  .profile-area {
    padding: 1.5rem;
    height: 30vh;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .avatar span {
    font-size: 2rem;
  }

  .profile-details {
    padding: 1rem;
    padding-top: 3rem;
    height: 50vh;
    width: 80vw;
  }

  .profile-details p {
    font-size: 0.95rem;
    margin-bottom: 2rem;
  }

  /* .profile-details p strong {
    min-width: 120px;
  } */
}

@media (min-width: 768px) {
  .profile-details {
    margin-top: 2rem;
  }
}
