* {
  margin: 0;
  box-sizing: border-box;
}

.user {
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.user::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 1;
  z-index: -1;
}

.login,
.register,
.forgot-password {
  border: none;
  padding: 2.5% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgba(67, 140, 217, 0.945);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 80%;
  max-width: 400px;

  position: relative;
}

.login::before,
.register::before,
.forgot-password::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
  z-index: -1;
  opacity:1;
}

.right {
  padding: 20px 0;
  width: 100%;
  background: transparent;
}

.img {
  width: 10em;
  margin: 1em auto;
}

.fg,
.reg {
  text-decoration: none;
  color: #1a1a1a;
  transition: color 0.3s ease;
}

.fg:hover,
.reg:hover {
  color: rgba(237, 46, 46, 0.759);
}

.fg:focus,
.register:focus {
  outline: 2px solid rgba(67, 140, 217, 0.945);
  outline-offset: 2px;
}

input[type="useremail"],
input[type="username"],
input[type="password"] {
  margin: 0.5em 0;
  padding: 0.5em;
  width: 100%;
  max-width: 250px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.532);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}


input[type="useremail"]::placeholder,
input[type="username"]::placeholder,
input[type="password"]::placeholder {
  opacity: 1;
  color: #333;
}

input[type="useremail"]:focus,
input[type="username"]:focus,
input[type="password"]:focus {
 border:  1px solid rgba(79, 9, 241, 0.945);
background-color: rgb(255, 255, 255);
outline: none;
}

button[type="submit"] {
  margin: 1em 0;
  padding: 0.5em 2em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width:70%;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"]:focus {
  outline: 2px solid #0056b3;
  outline-offset: 2px;
}

@media (max-width: 600px) {
  .login,
  .register,
  .forgot-password {
    padding: 5%;
    width: 90%;
    max-width: none;
  }
  .img {
    width: 8em;
  }
  input[type="email"],
  input[type="password"] {
    width: 100%;
  }
}
